.title{
  font-size: 30px;
  margin-top: 10px;
  padding:10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.button-start{
  background-color: #2c698d !important ;
   transition: background-color 0.3s ease;
  cursor:pointer;
  border:none;
  padding: 20px 30px;
  margin-top: 5px;

}
.button-start:hover{
  background-color: #5e90ad !important ;
  border:none;
}